---
layout: default
---
    <div id="research-areas-carousel" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#research-areas-carousel" data-slide-to="0" class="active"></li>
         <li data-target="#research-areas-carousel" data-slide-to="1"></li>
         <li data-target="#research-areas-carousel" data-slide-to="2"></li> <!-- #krithika-->
         <li data-target="#research-areas-carousel" data-slide-to="3"></li> <!-- #krithika-->
      </ol>


      <div class="carousel-inner">

        {% for item in site.data.carousel %}
        <div class="carousel-item {% if forloop.index == 1 %}active{% endif %}">
          <img class="{{forloop.index}}-slide" src="images/{{ item.image }}" alt="First slide">
          <div class="container">
            <div class="carousel-caption  d-md-block">
              <h1> {{ item.title }} </h1>
              <p class="mx-auto"> {{ item.message }} </p>
              <p class="mx-auto"><a class="btn btn-lg btn-primary ripple" href="{{ item.link }}" role="button">Learn More</a></p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <a class="carousel-control-prev" href="#research-areas-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#research-areas-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

<br> <br>
    <! -- Welcome and videos -->
    <center>
<div class="container">
      <div class="row">

<video width="1000" controls autoplay>
  <source src="/images/videoplayback.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<p>
Video courtesy:
<a href="https://www.youtube.com/watch?v=fSXtq2NU56c" target="_blank">youtube</a>.
</p>	
	</center>
	</div>
    </div>

    <!-- News and Spotlight Events  --> 
    <div class="container">

      <div class="row">

        <div class="col-sm-7 news" >
          <h3 class="section-title pl-0"> News </h3>

          {% for post in site.categories["news"] limit:5 %}
          <div class="card drop-shadow"> 
            <div class="row no-gutters ">
            <div class="col-2">
            <img  class="member-img img-responsive center-block" src="{{post.img}}" alt="Card image cap" >
            </div>
            <div class="card-body col-10">
              <a class="card-title" href="{{ post.url }}">
                {{ post.title }}
              </a>
              <h6 class="card-subtitle mb-2 "> {{ post.date | date: "%d %B %Y" }} </h6>
              <p class="card-text">
                {{ post.excerpt | remove: '<p>' | remove: '</p>'  }}
              </p>
            </div>
            </div>
          </div>
        {% endfor %}
        </div>

        <div class="col-sm-5 events">

          <h3 class="section-title pl-0"> Events </h3> 

          {% for post in site.categories["events"] %}
          <div class="card event-card drop-shadow"> 
             <div class="container">
             <div class="row ">
             <div class="col-9">
              <a class="card-title" href="{{ post.url }}">
                {{ post.title }} 
              </a>
              <div class="card-speaker"> 
                 {{post.speaker}}
              </div>
              <div class="card-subtitle"> 
                {{ post.venue }}
              </div>
             </div>
             <div class="col-3 text-right " style="margin-left:-15px">
               <div class="cal-box">
                 <div class="cal-day">{{ post.date | date: "%d %b" }} </div>
                 <div class="cal-time">{{ post.date | date: "%l:%M %P" }} </div>
               </div>
               
            </div>
            </div>
            </div>
              
          </div>
          {% endfor %}


         </div>
        </div>

        <div >
        <h3 class="section-title text-center"> Partner institutions </h3>
                  {% for partner in site.data.partners  %}
                       <img  width="100" class="my-2 mx-3" src="images/partners/{{ partner.image }}"> 
		  {% endfor %}
        </div>
   <div class="container">
        <h3 class="section-title text-center"> Funding bodies </h3>
 <img  width="100" class="my-2 mx-3" src="images/innoindigo.jpeg">
 <img  width="100" class="my-2 mx-3" src="images/partners/dst.jpeg">
 <img  width="100" class="my-2 mx-3" src="images/partners/dstEurope.jpeg">
	</div>
 
